################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
!.git
!.vs
/Homework_MAQS_Composite/.vs/Homework_MAQS_Composite
/Homework_MAQS_Composite/Homework_MAQS_Composite/Models/obj/
/Homework_MAQS_Composite/Homework_MAQS_Composite/Models/obj/Debug/netcoreapp3.1
/Homework_MAQS_Composite/Homework_MAQS_Composite/Models/bin/Debug/netcoreapp3.1
/Homework_MAQS_Composite/Homework_MAQS_Composite/Models/Debug
/Homework_MAQS_Composite/Homework_MAQS_Composite/Tests/bin
/Homework_MAQS_Composite/Homework_MAQS_Composite/Tests/Debug

