################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework_MAQS_Composite/.vs/Homework_MAQS_Composite
